<footer>
  <div>
    <a href="#" class="footer-item">Términos y condiciones</a>
    <a href="#" class="footer-item">Declaración de privacidad</a>
    <a href="#" class="footer-item">Centro de ayuda</a>
  </div>
  <div>
    <span>
      Hecho con corazón
    </span>
  </div>
</footer>