---
import JhonLogo from "@/components/JhonLogo.astro";
---

<footer class="w-full py-16 px-4">
  <a
    href="https://jhonromero26.vercel.app"
    target="_blank"
    class="flex gap-4 justify-center items-center"
  >
    <JhonLogo class="w-32 h-32" />
    <div class="text-lg font-bold">Made by <br />Jhon Romero</div>
  </a>
</footer>
