---
import SearchModal from "@/components/SearchModal.astro";
---

<header class="flex px-8 py-4 w-full justify-between items-center">
  <div class="flex gap-4 items-center">
    <a href="/" class="text-white text-3xl">metflix</a>
  </div>
  <div class="flex gap-4 items-center">
    <div class="relative">
      <SearchModal />
    </div>
  </div>
</header>
