---
import SearchModal from "@/components/SearchModal.astro";
---

<header class="flex px-8 py-4 w-full justify-between items-center">
  <div class="flex gap-4 items-center">
    <a href="/" class="block text-white text-3xl h-12">
      <img
        class="h-full w-full object-contain"
        src="/metflix-logo.webp"
        alt="Metflix"
      />
    </a>
  </div>
  <div class="flex gap-4 items-center">
    <div class="relative">
      <SearchModal />
    </div>
  </div>
</header>
