<header>
  <div class="content-logo">
    <img src="https://i.ibb.co/8bV38PJ/Frame-2.png" alt="Logo">
  </div>
  <nav class="menu">
    <div class="profile">
      <img src="/assets/img/user-icon.png" alt="User" />
      <span>Perfil</span>
    </div>
    <ul>
      <li><a href="#">Cuenta</a></li>
      <li><a href="#">Cerrar Sesión</a></li>
    </ul>
  </nav>
</header>